
*{
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}

.col{
    position: relative;
    display: block;
}

.col-1{
    width: 4.3%;
    max-width: 4.3%;
    flex: 0 0 4.3%;
}

.col-11{
    width: 95.7%;
    max-width: 95.7%;
    flex: 0 0 95.7%;
}

.col-12{
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
}