.ImageUploadContainer .css-1q8v7ak-MuiSvgIcon-root {
   color:#2A3036;
}
/* 3C56F5 */

.ImageUploadContainer .css-13dyovk-MuiButtonBase-root-MuiButton-root {
    background-color: #2A3036;
}

.ImageUploadContainer .css-13dyovk-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #404850;
}